{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagetitle %}Dental Clinic{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'mainapp/images/logo_dux_icon.ico' %}" />
    <link rel="stylesheet" href="{% static 'mainapp/bootstrap/css/bootstrap.min.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'mainapp/bootstrap/css/carousel.css' %}"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'mainapp/style.css' %}"  charset="utf-8">
    <script src="{% static 'mainapp/bootstrap/js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'mainapp/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'mainapp/bootstrap/js/mine.js' %}"></script>
  </head>
  <body>

    <!--top header-->
    <div class="topHeader">
      <div class="SocialIcons">
          <a href="https://www.facebook.com/VpDentalImplantologiisaDaParodontologiisTsentri/?fref=ts"><img src="{% static 'mainapp/images/facebook.png' %}" class="undragable" alt="our facebook page" /></a>
          <a href="http://www.instagram.com"><img src="{% static 'mainapp/images/instagram.png' %}" class="undragable" alt="our instagram page" /></a>
      </div>
    </div>

    <!--content and navbar-->
    <div class="col-md-3 col-sm-12 col-xs-12">
      <a href="{% url 'mainapp:index'  %}"><img src="{% static 'mainapp/images/logo.jpg' %}" class="img-responsive undragable LogoPlace" alt="VP dental logo"></a>
    </div>

    <div class="col-md-9 col-sm-12 col-xs-12">

      <nav class="navbar navbar-default">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'mainapp:index'  %}">{{main.name}}</a></li>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{services.name}} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% for item in services_subitem  %}
                        <li><a href="{% url 'mainapp:services' item.id %}">{{item.title}}</a></li>
                    {% endfor %}

                  </ul>
                </li>
                <li><a href="{% url 'mainapp:question-add' %}">{{question.name}}</a></li>
                <li><a href="{% url 'mainapp:gallery' %}">{{gallery.name}}</a></li>
                <li><a href="{% url 'mainapp:articles' %}">{{articles.name}}</a></li>

                <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{contact.name}} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                        <li><a href="{% url 'mainapp:personal' %}">{{medpersonal.title}}</a></li>
                        <li><a href="{% url 'mainapp:prices' %}">{{prices.title}}</a></li>
                        <li><a href="{% url 'mainapp:WorkingHours' %}">{{workinghourcontact.title}}</a></li>
                        <li><a href="{% url 'mainapp:contactus' %}">{{contactus.title}}</a></li>
                  </ul>
                </li>
              </ul>
                <div class="languageDiv">
                    {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <!--<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>-->
                            <a href="/{{language.code}}{{ request.get_full_path|slice:'3:' }}">{{language.name_local}}</a>
                        {% endfor %}
                </div>
            </div>
          </div>

        </nav>

    </div>
    <div class="clear"></div>
    {% block body %}
    {% endblock %}




    <footer class="footer">
      <div class="container">
        <p class="text-muted">Created by <a href="#">auroch222</a></p>
      </div>
    </footer>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS7erjjAb-qAYLc65YP2vY4ySUS5dT51g&callback=initMap" async defer> </script>
  </body>
</html>
